<form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      [class.is-invalid]="
        studentForm.get('email')?.invalid && studentForm.get('email')?.touched
      "
      [class.is-valid]="
        studentForm.get('email')?.valid && studentForm.get('email')?.touched
      "
      formControlName="email"
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      [class.is-valid]="passwordIsValid()"
      [class.is-invalid]="passwordIsInvalid()"
      formControlName="password"
      type="password"
      class="form-control"
      id="exampleInputPassword1"
    />

    <small
      *ngIf="passwordIsInvalid() && passwordHasRequiredError()"
      class="text-danger"
    >
      Este campo es requerido
    </small>

    <small
      *ngIf="passwordIsInvalid() && passwordHasMinLengthError()"
      class="text-danger"
    >
      El largo debe ser de al menos 6 caracteres
    </small>

    <pre>{{ studentForm.get("password")?.errors | json }}</pre>
  </div>
  <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary">Guardar</button>
  </div>
</form>
